body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    border-bottom: 2px solid #D8DEE4;
    border-top: 2px solid #D8DEE4;
    background-color: #F6F8FA;
    padding: 0 10px;
}

.auth-buttons-block {
    display: inline-flex;
    align-self: stretch;
    align-items: center;
}

.username {
    display: inline-block;
    font-weight: bold;
    margin-right: 20px;
}

.button {
    border: 1px solid #cccccc;
    background-color: #F6F8FA;
    border-radius: 5px;
    text-align: center;
    display: table;
    padding: 5px 10px;
    z-index: 100;
}

.button:hover {
    background-color: #dddddd;
}

.button a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.content {
     margin: 0 auto;
     width: max-content;
}

label {
    width: 100px;
    display: inline-flex;
    align-items: center;
}

form p {
    display: flex;
    justify-content: space-between;
}
input {
    width: 300px;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}