body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    border-bottom: 2px solid #D8DEE4;
    border-top: 2px solid #D8DEE4;
    background-color: #F6F8FA;
    padding: 0 10px;
}

.auth-buttons-block {
    display: inline-flex;
    align-self: stretch;
    align-items: center;
}

.username {
    display: inline-block;
    font-weight: bold;
    margin-right: 20px;
}

.button {
    border: 1px solid #cccccc;
    background-color: #F6F8FA;
    border-radius: 5px;
    text-align: center;
    display: table;
    padding: 5px 10px;
    z-index: 100;
}

.button:hover {
    background-color: #dddddd;
}

.button a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.content-wrap {
    width: 100%;
}

.content {
     margin: 0 auto;
     width: max-content;
}

label {
    width: 100px;
    display: inline-flex;
    align-items: center;
}

form p {
    display: flex;
    justify-content: space-between;
}

input {
    width: 300px;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

textarea {
    width: 600px;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

form.filedata {
    margin: 30px;
}

.filedata textarea {
    width: 600px;
    color: #ae541d;
}

.filedata input {
    width: 600px;
}

button {
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
}

.buttonSubmit button {
    margin: 0 auto;
    font-weight: bold;
    width: 100px;
    height: 25px;
}


h1 {
    font-size: 24px;
    text-align: center;
    color: #1F6351;
}

h3 {
    text-align: center;
}

.nothing {
    color: #D4d4d4;
    font-size: 20px;
    margin-top: 50px;
}

.top-block {
    width: 100%;
    border-bottom: 1px solid #cccccc;
    min-height: 25px;
    display: flex;
    justify-content: space-between;
}

.breadcrumbs-block {
    display: inline-flex;
    justify-content: start;
    align-items: center;
    text-align: left;
    vertical-align: middle;
    margin-left: 10px;
    padding: 5px 0;
}

.breadcrumbs-block .button {
    margin-left: 0;
}

.top-buttons-block {
    display: inline-flex;
    justify-content: end;
    padding: 5px 5px;
}

.top-buttons-block .button {
    margin-left: 5px;
}

.row-list {
    height: 50px;
    border-bottom: 1px solid #cccccc;
    display: flex;
    align-items: center;
    min-width: 400px;
    padding: 0 10px;
    justify-content: space-between;
}

.row-list:hover {
    background-color: #f2f2f2;
}

.row-list a {
    text-decoration: none;
}

.row-list a:hover {
    text-decoration: underline;
}

.changes {
    justify-content: end;
}

.modify-buttons-block{
    display: inline-flex;
    justify-content: end;
    padding: 5px 0;
}

.modify-buttons-block .button {
    margin-left: 5px;
}

.are-you-sure {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: red;
    margin-top: 50px;
    margin-bottom: 50px;
}

.confirm-buttons {
    text-align: center;
}
.confirm-buttons button {
    width: 70px;
    margin: 0 10px;
    padding: 5px;
}

.user-list-author {
    position: relative;
    font-weight: bold;
}

.user-list-author::after {
    position: absolute;
    top:-2px;
    content: '   Author';
    color: #f46a36;
    font-size: 0.8em;
    font-weight: bold;
    white-space: pre;
}

.row-list .ms-description {
    width: 250px;
}

.row-list .ms-date {
    width: 150px;
    white-space: nowrap;
    text-align: right;
}

.row-list .ms-author {
    width: 120px;
    text-align: right;
    margin-left: 20px;
}

.row-list .ms-date-author {
    display: inline-flex;
    justify-content: end;
}