{% extends "vcs/base.html" %}

{% block content %}

    <h1>Choose user</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
{#        <p>{{'Input username'}}:{{form.username}}</p>#}
{#        <p>{{'Or select from list'}}:{{form.name}}</p>#}
        <div class="confirm-buttons">
            <button type="submit">Add</button>
            <button type="button" onclick="location.href = '{% url 'users_list' slug=slug %}';">Back
            </button>
        </div>
    </form>

{% endblock %}