{% extends "vcs/base.html" %}

{% block breadcrumbs %}
    <div class="button">
        <a href="{% url 'history' repo_slug %}">Back</a>
    </div>
{% endblock %}

{% block top-buttons %}
    <div class="button">
        <a href="{% url 'restore' repo_slug milestone_id %}">Restore</a>
    </div>
{% endblock %}

{% block content %}

    <h1>Changes: </h1>



    {% for change in change_list %}
        <div class="row-list">
            {% if change.change_type != 'r' %}
                {{ change.item }}

                <div class="changes">
                    {{ change.get_change_type_display }}
                </div>
            {% else %}
                <div>Repository is restored to the</div>
                <a href="{% url 'changes' repo_slug change.item %}">milestone</a>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}