{% extends "vcs/base.html" %}

{% block breadcrumbs %}
    <div class="button">
        <a href="{% url 'repo-detail' repo_slug %}">Back</a>
    </div>
{% endblock %}

{% block content %}

    <h1>Milestones: </h1>
    {% if milestone_list %}
        <ul>
            {% for milestone in milestone_list %}
                <div class="row-list">
                    <a href="{% url 'changes' milestone.repo.slug milestone.id %}">{{ milestone.description }}</a>
                </div>
            {% endfor %}

        </ul>
    {% else %}
        <div class="nothing">
            There are no milestones in this repository.
        </div>
    {% endif %}


{% endblock %}