{% extends "vcs/base.html" %}

{% block breadcrumbs %}
    <div class="button">
        <a href="{% url 'repo-detail' repo_slug %}">Back</a>
    </div>
{% endblock %}

{% block content %}

    <h1>Milestones: </h1>
    {% if milestone_list %}
        {% for milestone in milestone_list %}
            <div class="row-list">
                <div class="ms-description"><a
                        href="{% url 'changes' milestone.repo.slug milestone.id %}">{{ milestone.description }}</a>
                </div>
                <div class="ms-date-author">
                    <div class="ms-date">{{ milestone.created|date:"d.m.y H:i" }}</div>
                    <div class="ms-author">{{ milestone.author }}</div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="nothing">
            There are no milestones in this repository.
        </div>
    {% endif %}


{% endblock %}