{% extends "vcs/base.html" %}

{% block content %}

    <h1>Milestones: </h1>
    {% if milestone_list %}
        <ul>
            {% for milestone in milestone_list %}
                <div class="row-list">
                    <a href="{% url 'changes' milestone.id %}">{{ milestone.description }}</a>
{#                    <a href="{{ milestone.id|add:'/changes' }}">{{ milestone.description }}</a>#}
                </div>
            {% endfor %}

        </ul>
    {% else %}
        <p>There are no milestones in this repository.</p>
    {% endif %}


{% endblock %}