{% extends "vcs/base.html" %}

{% block top-buttons %}
    <div class="button">
        <a href="{{ request.path|add:'newrepo' }}">Create a repository</a>
    </div>
{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}

        <h1>My Repositories: </h1>
        {% if repository_list %}
            {% for repo in repository_list %}
                <div class="row-list">
                    <a href="{{ repo.slug }}">{{ repo.name }}</a>
                    <div class="modify-buttons-block">
                        <div class="button">
                            <a href="{{ request.path|add:repo.slug|add:'/clonerepo' }}">Clone</a>
                        </div>
                        <div class="button">
                            <a href="{{ request.path|add:repo.slug|add:'/deleterepo' }}">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            <div class="nothing">
                There are no repositories.
            </div>
        {% endif %}



        {% if other_repo_list %}
            <h3>Other Repositories: </h3>
            {% for other_repo in other_repo_list %}
                <div class="row-list">
                    <a href="{{ other_repo.slug }}">{{ other_repo.name }}</a>
                    <div class="modify-buttons-block">
                        <div class="button">
                            <a href="{{ request.path|add:other_repo.slug|add:'/clonerepo' }}">Clone</a>
                        </div>

                    </div>
                </div>
            {% endfor %}
        {% endif %}

    {% endif %}

{% endblock %}