{% extends "vcs/base.html" %}

{% block top-buttons %}
    <div class="button">
        <a href="{{ request.path|add:'newrepo' }}">Create a repository</a>
    </div>
{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}

        <h1>My Repositories: </h1>
        {% if repository_list %}
            {% for repo in repository_list %}
                <div class="row-list">
                    <a href="{{ repo.slug }}">{{ repo.name }}</a>
                </div>
            {% endfor %}

        {% else %}
            <div class="nothing">
                <p>There are no repositories.</p>
            </div>
        {% endif %}


        <h3>Other Repositories: </h3>

        {% if other_repo_list %}
            {% for other_repo in other_repo_list %}
                <div class="row-list">
                    <a href="{{ other_repo.slug }}">{{ other_repo.name }}</a>
                </div>
            {% endfor %}
        {% endif %}

    {% endif %}

{% endblock %}