{% extends "vcs/base.html" %}

{% block breadcrumbs %}
    {{ breadcrumbs |safe }}
{% endblock %}

{% block top-buttons %}
    <div class="button">
        <a href="{{ request.path|add:'/newdir' }}">Create a directory</a>
    </div>
    <div class="button">
        <a href="{{ request.path|add:'/newfile' }}">Create a file</a>
    </div>
    <div class="button">
        <a href="{{ request.path|add:'/uploadfile' }}">Upload a file</a>
    </div>
    <div class="button">
        <a href="{{ request.path|add:'/newmilestone' }}">Create a milestone</a>
    </div>
    <div class="button">
        <a href="{% url 'history' repository.slug %}">History</a>
    </div>
{% endblock %}

{% block content %}

    <h1>{{ repository.name }}</h1>

    {#    <h3>Users who have access: </h3>#}
    {##}
    {#    {% if users_list %}#}
    {#        <ul>#}
    {#            {% for user in users_list %}#}
    {#                <li>#}
    {#                    <a>{{ user.username }}</a>#}
    {#                </li>#}
    {#            {% endfor %}#}
    {##}
    {#        </ul>#}
    {#    {% else %}#}
    {#        <p>There are no users who have access.</p>#}
    {#    {% endif %}#}

    {% if len_list == 0 %}
        <div class="nothing">
            <p> Nothing is here</p>
        </div>
    {% endif %}

    {% for dir in dirlist %}
        <div class="row-list">
            <a href="{{ request.path|add:'/'|add:dir|urlencode }}">{{ dir }}</a>
            <div class="modify-buttons-block">
                <div class="button">
                    <a href="{{ request.path|add:'/'|add:dir|urlencode|add:'/edit' }}">Edit</a>
                </div>
                <div class="button">
                    <a href="{{ request.path|add:'/'|add:dir|urlencode|add:'/delete' }}">Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for file in filelist %}
        <div class="row-list">
            <a href="{{ request.path|add:'/'|add:file|urlencode }}">{{ file }}</a>
            <div class="modify-buttons-block">
                <div class="button">
                    <a href="{{ request.path|add:'/'|add:file|urlencode|add:'/edit' }}">Edit</a>
                </div>
                <div class="button">
                    <a href="{{ request.path|add:'/'|add:file|urlencode|add:'/delete' }}">Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}