{% extends "vcs/base.html" %}

{% block content %}

    <h2>{{ repository.name }}</h2>

    {#    <h3>Users who have access: </h3>#}
    {##}
    {#    {% if users_list %}#}
    {#        <ul>#}
    {#            {% for user in users_list %}#}
    {#                <li>#}
    {#                    <a>{{ user.username }}</a>#}
    {#                </li>#}
    {#            {% endfor %}#}
    {##}
    {#        </ul>#}
    {#    {% else %}#}
    {#        <p>There are no users who have access.</p>#}
    {#    {% endif %}#}

    <p>path: {{ path }}</p>



    {% for root, dirs, files in list_of_dirs %}
        {% for dir in dirs %}
{#            <a href="{% url 'repo-detail' slug=repository.slug|add:"/" path=path|add:dir|urlencode %}">{{ dir }}<br></a>#}
            <a href="{{repository.slug|add:'/'|add:path|add:dir|urlencode }}">{{ dir }}<br></a>
            {#            <p> {{ dir }} <br></p>#}
        {% endfor %}

        {% for file in files %}
            <p> {{ file }} <br></p>
        {% endfor %}
    {% endfor %}




    <a href="{% url 'newdir' slug=repository.slug path=path %}">Create a directory</a><br>

    <a href="{% url 'newfile' slug=repository.slug path=path %}">Create a file</a><br>

{% endblock %}