{% extends "vcs/base.html" %}

{% block content %}

    <h2>{{ repository.name }}</h2>

    {#    <h3>Users who have access: </h3>#}
    {##}
    {#    {% if users_list %}#}
    {#        <ul>#}
    {#            {% for user in users_list %}#}
    {#                <li>#}
    {#                    <a>{{ user.username }}</a>#}
    {#                </li>#}
    {#            {% endfor %}#}
    {##}
    {#        </ul>#}
    {#    {% else %}#}
    {#        <p>There are no users who have access.</p>#}
    {#    {% endif %}#}


    {% for dir in list_of_dirs %}
        <p> {{ dir }} <br></p>
    {% endfor %}



    <a href="{% url 'newdir' slug=repository.slug path=path %}">Create a directory</a><br>

    <a href="{% url 'newfile' slug=repository.slug %}">Create a file</a><br>

{% endblock %}