{% extends "vcs/base.html" %}

{% block breadcrumbs %}
    <div class="button">
        <a href="{% url 'repo-detail' repo_slug %}">Back</a>
    </div>
{% endblock %}

{% block top-buttons %}
    {% if repo_author == user %}
        <div class="button">
            <a href="{% url 'adduser' repo_slug %}">Add user</a>
        </div>
    {% endif %}

{% endblock %}

{% block content %}

    <h1>Users: </h1>

    {% if user_list %}

        <div class="row-list">
            <div class="user-list-author"> {{ repo_author }}</div>
        </div>

        {% for user in user_list %}
            <div class="row-list">
                {{ user.username }}
                {% if repo_author == user %}
                    <div class="modify-buttons-block">
                        <div class="button">
                            <a href="{{ request.path|cut:'/users'|add:'/'|add:user.username|urlencode|add:'/deleteuser' }}">Delete</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}

    {% else %}
        <div class="row-list">
            <div class="user-list-author"> {{ repo_author }}</div>
        </div>
    {% endif %}


{% endblock %}