<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>

</head>
<body>

<h1>Home page</h1>

{% if request.user.is_authenticated %}
    <p>{{ request.user.username }}</p>
    <a href="{% url 'logout' %}">Log out</a>
    <h3>Repository List</h3>

    {% if repository_list %}
        <ul>
            {% for repo in repository_list %}
                <li>
                    <a href="{{ repo.get_absolute_url }}">{{ repo.name }}</a>
                </li>
            {% endfor %}

        </ul>
    {% else %}
        <p>There are no repositories.</p>
    {% endif %}
    
    
    <a href="{% url 'newrepo' %}">Create a repository</a><br>
    
    
{% else %}
    <a href="{% url 'login' %}">Login</a><br>
    <a href="{% url 'signup' %}">Sign up</a>
{% endif %}

</body>
</html>