{% extends "vcs/base.html" %}

{% block top-buttons %}
    <div class="button">
        <a href="{% url 'newrepo' %}">Create a repository</a>
    </div>
{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}

        <h1>My Repositories: </h1>
        {% if repository_list %}
            {% for repo in repository_list %}
                <div class="row-list">
                    <a href="{% url 'file-or-dir-view' slug=repo.slug path=path %}">{{ repo.name }}</a>
                </div>
            {% endfor %}

        {% else %}
            <div class="light">
                <p>There are no repositories.</p>
            </div>

        {% endif %}




    {% endif %}

{% endblock %}